@import "partes/colors";
@import "partes/reset";
@import "partes/galeria";
@import "partes/header";
@import "partes/hero";
@import "partes/sobre";
@import "partes/services";
@import "partes/localizacao";
@import "partes/contato";



footer {
  background-color: $background-gray;
  padding: 2em;
}

.footer-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  color: $gray-footer;

  a {
    text-decoration: none;
    color: $gray-footer;
  }

  a:hover {
    color: $highlight;
  }
}
