@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@400;600;700&display=swap");
/* ========== BASE COLORS ========== */
/* ========== WHITE VARIANTS ========== */
/* ========== GRAYS ========== */
/* ========== REDS ========== */
/* ========== ACCENTS ========== */
* {
  margin: 0;
  padding: 0;
}

.galeria {
  background-color: #000000;
  padding-bottom: 5em;
}
.galeria .galeria-textos {
  position: relative;
  text-align: center;
  padding: 30px;
  z-index: 2;
}
.galeria .galeria-textos h1 {
  color: #ffffff;
  font-size: 45px;
}
.galeria .galeria-textos p {
  font-size: 18px;
  color: #e0e0e0;
  margin-top: 8px;
  padding-bottom: 15px;
}
.galeria .galeria-textos .galeria-bg-title {
  position: absolute;
  top: 53%;
  left: 67%;
  transform: translate(-50%, -50%);
  font-size: 150px;
  color: rgba(69, 68, 68, 0.0901960784);
  z-index: 0;
}
.galeria .galeria-carrossel {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.galeria .galeria-carrossel button {
  margin: 0 223px;
  font-size: 2.5em;
  color: #bb9867;
  height: 50px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  align-self: center;
}
.galeria .galeria-carrossel button:hover {
  color: rgba(187, 152, 103, 0.4666666667);
}
.galeria .galeria-carrossel .carrossel-container {
  width: 100%;
  max-width: 910px;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
  scroll-behavior: smooth;
}
.galeria .galeria-carrossel .carrossel-container .carrossel-wrapper {
  display: flex;
  gap: 100px;
  transition: transform 0.5s ease;
  will-change: transform;
}
.galeria .galeria-carrossel .carrossel-container .carrossel-wrapper .carrossel-itens {
  position: relative;
  text-align: center;
  justify-items: center;
  border: 1px solid #CDCDCD;
  min-width: 33.3%;
  flex-shrink: 0;
  box-sizing: border-box;
}
.galeria .galeria-carrossel .carrossel-container .carrossel-wrapper .carrossel-itens img {
  width: 100%;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0% 35%;
     object-position: 0% 35%;
  display: block;
}
.galeria .galeria-carrossel .carrossel-container .carrossel-wrapper .carrossel-itens .detalhe-circulo {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 42px;
  height: 42px;
  background-color: #bb9867;
  border-radius: 100px;
}
.galeria .galeria-carrossel .carrossel-container .carrossel-wrapper .carrossel-itens .detalhe-circulo .detalhe-quadrado {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #e0e0e0;
  top: 39%;
  left: 38%;
}
.galeria .galeria-carrossel .carrossel-container .carrossel-wrapper .carrossel-itens .carrossel-itens-textos {
  padding: 50px;
}
.galeria .galeria-carrossel .carrossel-container .carrossel-wrapper .carrossel-itens .carrossel-itens-textos h3 {
  color: #ffffff;
  margin-bottom: 8px;
}
.galeria .galeria-carrossel .carrossel-container .carrossel-wrapper .carrossel-itens .carrossel-itens-textos p {
  font-size: 15px;
  color: #e0e0e0;
  max-width: 300px;
  margin: 0 auto;
}

@media screen and (max-width: 480px) {
  .galeria .galeria-textos h1 {
    font-size: 30px;
  }
  .galeria .galeria-textos p {
    font-size: 15px;
  }
}
header {
  padding: 0 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
  background-color: #000000;
  text-align: center;
}
header #header-img {
  width: auto;
  height: 15vh;
}
header .header-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
header .header-menu ul {
  display: flex;
  gap: 40px;
}
header .header-menu ul li a {
  font-weight: bold;
  font-family: "Sora", sans-serif;
  color: #edeaef;
  text-decoration: none;
}
header .header-menu ul li a:hover {
  color: rgb(175, 175, 175);
}
header .header-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}
header .header-button a {
  font-family: "Sora", sans-serif;
  color: #edeaef;
  text-decoration: none;
  padding: 15px 30px;
  border: 1px solid #929085;
  border-radius: 5px;
  transition: background-color 0.3s ease, border 0.3s ease;
}
header .header-button a:hover { /*forma do Sass usar o hover*/
  border: 1px solid #8a1414;
  background-color: #8a1414;
}

@media screen and (max-width: 768px) {
  header {
    padding: 0;
  }
  header .header-menu {
    display: none;
  }
  header .header-menu ul {
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: rgb(90, 90, 89);
  }
  header .header-menu ul li a {
    font-size: 15px;
    display: block;
    color: white;
    text-decoration: none;
  }
  header .header-button {
    display: none;
  }
  .menu-toggle {
    color: white;
    display: block;
    margin-right: 20px;
    padding: 20px;
    background: none;
    border: none;
    font-size: 20px;
  }
  .header-menu.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
  }
}
.hero {
  width: 100vw;
  height: 100vh;
  background: url("./assets/imagens/banner.png") no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero .hero-title {
  margin-bottom: 7rem;
  font-size: 2.7rem;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 1.3;
  color: white;
  text-align: center;
}
.hero .hero-title .highlight {
  color: #bb9867;
}

@media screen and (max-width: 768px) {
  .hero .hero-title {
    font-size: 35px;
  }
}
@media screen and (max-width: 480px) {
  .hero .hero-title {
    font-size: 28px;
    padding: 20px;
  }
}
.sobre {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10em;
  background-color: #000000;
  color: white;
  padding-left: 12em;
  padding-bottom: 13em;
}
.sobre .sobre-img {
  position: relative;
  margin-top: -100px;
}
.sobre .sobre-textos {
  max-width: 800px;
  margin: 0 auto;
  padding-right: 10em;
  padding-bottom: 5em;
}
.sobre .sobre-textos h1 {
  font-size: 45px;
  text-align: center;
  margin-bottom: 20px;
}
.sobre .sobre-textos p {
  font-size: 18px;
  line-height: 150%;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .sobre {
    display: flex;
    padding: 0;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .sobre-img img {
    width: 30em;
  }
  .sobre .sobre-textos {
    padding-left: 3em;
    padding-right: 3em;
  }
  .sobre .sobre-textos h1 {
    font-size: 38px;
  }
  .sobre .sobre-textos p {
    font-size: 18px;
  }
}
@media screen and (max-width: 480px) {
  .sobre .sobre-img img {
    width: 400px;
  }
}
.servicos-container {
  background-color: #1f1f1f;
  padding-bottom: 80px;
}
.servicos-container .serviços-textos {
  text-align: center;
  justify-content: center;
  padding: 35px;
}
.servicos-container .serviços-textos h1 {
  font-size: 45px;
  color: #ffffff;
  padding-bottom: 12px;
}
.servicos-container .serviços-textos p {
  font-size: 18px;
  color: #e0e0e0;
}
.servicos-container .serviços-grid {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.servicos-container .imagem-wrapper {
  position: relative;
  height: 342px;
}
.servicos-container .info-hover {
  height: 302px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0.356));
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px;
  opacity: 0;
  transition: opacity 0.4s ease;
}
.servicos-container .info-hover .info-hover-text {
  padding-bottom: 30px;
}
.servicos-container .info-hover p {
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.servicos-container .info-hover span {
  color: #bb9867;
}
.servicos-container .imagem-wrapper:hover .info-hover {
  opacity: 1;
  border: none;
}
.servicos-container .line {
  height: 2px;
  width: 100%;
  background-color: gray;
}

@media screen and (max-width: 1024px) {
  .servicos {
    padding: 4rem 2rem;
  }
  .servicos .servicos-container .servicos-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 768px) {
  .servicos {
    padding: 3rem 1.5rem;
  }
  .servicos .servicos-container .servicos-textos h1 {
    font-size: 2rem;
  }
  .servicos .servicos-container .servicos-textos p {
    font-size: 1rem;
  }
  .servicos .servicos-container .servicos-grid {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 480px) {
  .serviços .servicos-container .serviços-textos h1 {
    font-size: 30px;
  }
  .serviços .servicos-container .serviços-textos p {
    font-size: 15px;
  }
}
.localizacao {
  background-color: #1f1f1f;
}
.localizacao .localizacao-textos {
  text-align: center;
  justify-content: center;
}
.localizacao .localizacao-textos h1 {
  padding-top: 45px;
  padding-bottom: 15px;
  font-size: 38px;
  color: #ffffff;
}
.localizacao .localizacao-textos p {
  padding-bottom: 38px;
  font-size: 18px;
  color: #e0e0e0;
}
.localizacao .localizacao-textos #localizacao-textos-p {
  padding-top: 30px;
  padding-bottom: 38px;
  font-size: 20px;
  color: #e0e0e0;
}

.line {
  height: 2px;
  width: 100%;
  background-color: gray;
}

@media screen and (max-width: 1024px) {
  .localizacao {
    padding: 4rem 2rem;
  }
  .localizacao iframe {
    height: 350px;
  }
}
@media screen and (max-width: 480px) {
  .localizacao {
    padding: 0;
  }
  .localizacao .localizacao-textos h1 {
    font-size: 30px;
  }
  .localizacao .localizacao-textos p {
    font-size: 15px;
  }
}
.contato,
.container {
  background-color: #000000;
}

.contato {
  padding-bottom: 5em;
}
.contato .contato-h1 {
  padding-bottom: 100px;
}
.contato .contato-h1 h1 {
  padding-top: 50px;
  padding-bottom: 15px;
  font-size: 40px;
  text-align: center;
  color: #ffffff;
}
.contato .contato-h1 .linha {
  height: 2px;
  width: 80px;
  margin: -10px auto 0 auto;
  background-color: #bb9867;
  border-radius: 2px;
}
.contato .container {
  display: flex;
  justify-content: space-between;
  padding: 0 20em;
}
.contato .container .container-infos {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.contato .container .container-infos .info-item {
  display: flex;
  color: #bb9867;
}
.contato .container .container-infos .info-item i {
  padding-right: 20px;
  padding-top: 10px;
}
.contato .container .container-infos h2 {
  font-size: 20px;
  color: #bb9867;
}
.contato .container .container-infos p {
  font-size: 18px;
  color: #e0e0e0;
}
.contato .container .container-forms form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.contato .container .container-forms form input,
.contato .container .container-forms form textarea {
  color: #ffffff;
  width: 377px;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 2px;
  outline: none;
  background-color: #1f1f1f;
}
.contato .container .container-forms form textarea {
  padding-bottom: 80px;
}
.contato .container .container-forms form button {
  cursor: pointer;
  font-family: "Sora", sans-serif;
  font-weight: 800;
  width: 180px;
  height: 40px;
  border: none;
  border-radius: 20px;
  justify-content: center;
  text-align: center;
  color: #ffffff;
  background-color: #8a1414;
}
.contato .container .container-forms form button:hover {
  background-color: rgb(71, 4, 4);
}

@media screen and (max-width: 768px) {
  .contato .container {
    padding: 0;
    padding-right: 3em;
    padding-left: 3em;
  }
  .contato .container-infos .info-item h2 {
    font-size: 20px;
  }
  .contato .container-infos .info-item p {
    font-size: 15px;
  }
}
@media screen and (max-width: 480px) {
  .container {
    display: flex;
    flex-direction: column;
  }
  .container .container-infos {
    display: flex;
    flex-direction: column;
    padding-bottom: 3em;
  }
  .container .container-infos .info-item {
    display: flex;
  }
  .container .container-infos .info-item h2 {
    font-size: 20px;
  }
  .container .container-infos .info-item p {
    font-size: 13px;
  }
}
body,
html {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Sora", sans-serif;
}

p,
span,
li,
a {
  font-family: "Sora", sans-serif !important;
}

.btn-whatsapp {
  position: fixed;
  bottom: 30px;
  right: 70px;
  z-index: 99;
}
.btn-whatsapp img {
  max-width: 74px;
  transition: transform 0.4s;
}
.btn-whatsapp img:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 480px) {
  .btn-whatsapp {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 99;
  }
}
footer {
  background-color: #1f1f1f;
  padding: 2em;
}

.footer-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  color: #CCCCCC;
}
.footer-section a {
  text-decoration: none;
  color: #CCCCCC;
}
.footer-section a:hover {
  color: #bb9867;
}/*# sourceMappingURL=main.css.map */