/* ========== BASE COLORS ========== */
$black-dark:       #000000;
$white:            #ffffff;

/* ========== WHITE VARIANTS ========== */
$white-dark:       #edeaef;
$white-subtitulo:  #e0e0e0;

/* ========== GRAYS ========== */
$gray:             #929085;
$background-gray:  #1f1f1f;
$gray-footer:      #CCCCCC;
$gray-bg-title:    #45444417;
$gray-border:      #CDCDCD;


/* ========== REDS ========== */
$red-button:       #8a1414; 

/* ========== ACCENTS ========== */
$highlight:        #bb9867;
$highlight-2:        #bb986777;
