.contato,
.container {
  background-color: #000000;
}

.contato {
  padding-bottom: 5em;

  .contato-h1 {
    padding-bottom: 100px;

    h1 {
      padding-top: 50px;
      padding-bottom: 15px;
      font-size: 40px;
      text-align: center;
      color: $white;
    }

    .linha {
      height: 2px;
      width: 80px;
      margin: -10px auto 0 auto;
      background-color: $highlight;
      border-radius: 2px;
    }
  }

  .container {
    display: flex;
    justify-content: space-between;
    padding: 0 20em;

    .container-infos {
      display: flex;
      flex-direction: column;
      gap: 30px;

      .info-item {
        display: flex;
        color: $highlight;

        i {
          padding-right: 20px;
          padding-top: 10px;
        }
      }

      h2 {
        font-size: 20px;
        color: $highlight;
      }

      p {
        font-size: 18px;
        color: $white-subtitulo;
      }
    }

    .container-forms {
      form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        input,
        textarea {
          color: $white;
          width: 377px;
          padding: 10px;
          border: 1px solid gray;
          border-radius: 2px;
          outline: none;
          background-color: $background-gray;
        }

        textarea {
          padding-bottom: 80px;
          max-width: 375px;
          max-height: 8px;
        }

        button {
          cursor: pointer;
          font-family: "Sora", sans-serif;
          font-weight: 800;
          width: 180px;
          height: 40px;
          border: none;
          border-radius: 20px;
          justify-content: center;
          text-align: center;
          color: $white;
          background-color: $red-button;
        }

        button:hover {
          background-color: rgb(71, 4, 4);
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .contato {

    .contato-h1 {
      h1 {
        font-size: 40px;
      }
      
    }

    .container {
      padding: 0;
      padding-right: 3em;
      padding-left: 3em;

      .info-item {
        h2 {
          font-size: 23px;
        }

        p {
          font-size: 16px;
        }
      }



      }
    }
  }

@media screen and (max-width: 480px) {

  .contato {
    .contato-h1 {
      padding: 0;
      padding-bottom: 3em;
    }
  }

  .container {
    display: flex;
    flex-direction: column;

    .container-infos {
      display: flex;
      flex-direction: column;
      padding-bottom: 3em;

      .info-item {
        display: flex;

        h2 {
          font-size: 20px;
        }

        p {
          font-size: 13px;
        }
      }
    }
  }
}
