footer {
    background-color: $background-gray;
    padding: 1em;

    p {
      padding: 0;
      margin: 0;
    }
  }
  
  .footer-section {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    color: $gray-footer;
  
    a {
      text-decoration: none;
      color: $gray-footer;
    }
  
    a:hover {
      color: $highlight;
    }
  }

@media screen and (max-width: 768px) {

.footer-section {
    p {
        font-size: 15px;
    }
}

}