footer {
  background-color: $background-gray;
  padding: 1em;

  p {
    margin: 0;
    padding: 0;
  }
}


.footer-section {
  color: $gray-footer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  a {
    color: $gray-footer;
    text-decoration: none;

    &:hover {
      color: $highlight;
    }
  }

  p {
    font-size: 15px;
    margin: 0;
    padding: 0;
  }
}
  

  p {
    font-size: 15px;
  }
