.galeria {
  background-color: $black-dark;
  padding-bottom: 2.6em;

  .galeria-textos {
    position: relative;
    text-align: center;
    z-index: 2;

    h1 {
      color: $white;
      padding-top: 30px;
    }

    p {
      color: $white-subtitulo;
      font-size: 18px;
      padding-bottom: 20px;
    }

    .galeria-bg-title {
      color: $gray-bg-title;
      font-size: 150px;
      left: 67%;
      position: absolute;
      top: 63%;
      transform: translate(-50%, -50%);
      z-index: 0;
    }
  }
}

.carousel-item {
  transition: transform 0.4s ease-in-out !important;
}

.img-carrossel {
  display: block;
  height: auto;
  image-rendering: auto;
  margin: 0 auto;
  max-width: 8vw;
  width: 100%;
}

// MEDIA QUERIES

@media (min-width: 1201px) {
  .img-carrossel {
    max-width: 400px;
  }

  .carousel-control-prev-icon {
    left: 20em;
    position: relative;
  }

  .carousel-control-next-icon {
    position: relative;
    right: 20em;
  }
}

@media (max-width: 1200px) {
  .img-carrossel {
    max-width: 600px;
  }

  .carousel-control-prev-icon {
    left: 7em;
    position: relative;
  }

  .carousel-control-next-icon {
    position: relative;
    right: 7em;
  }
}

@media (max-width: 1200px) {
  .img-carrossel {
    max-width: 40vw;
  }

}

@media (max-width: 991px) {
  .img-carrossel {
    max-width: 45vw;
  }

  .carousel-control-prev-icon {
    left: 5em;
    position: relative;
  }

  .carousel-control-next-icon {
    position: relative;
    right: 5em;
  }

  .galeria {
    .galeria-bg-title {
      color: $gray-bg-title;
      font-size: 10px;
      left: 67%;
      position: absolute;
      top: 53%;
      transform: translate(-50%, -50%);
      z-index: 0;
    }
  }
}

@media (max-width: 768px) {

  .galeria {
    .galeria-textos {
      .galeria-bg-title {
        font-size: 70px;
        top: 43%;
        left: 50%;
      }
    }
  }

  .img-carrossel {
    max-width: 58vw;
  }

  .carousel-control-prev-icon {
    left: 0em;
    position: relative;
  }

  .carousel-control-next-icon {
    position: relative;
    right: 0em;
  }
}

@media (max-width: 576px) {
  .img-carrossel {
    max-width: 75vw;
  }

  .carousel-control-prev,
  .carousel-control-next {
    display: none !important;
  }
}

@media (max-width: 360px) {
  .img-carrossel {
    max-width: 80vw;
  }
}
