header {
  padding: 0 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
  background-color: $black-dark;
  text-align: center;

  #header-img {
    width: auto;
    height: 15vh;
  }

  .header-menu {
    display: flex;
    align-items: center;
    justify-content: center;

    ul {
      display: flex;
      gap: 40px;

      li a {
        font-weight: bold;
        font-family: "Sora", sans-serif;
        color: $white-dark;
        text-decoration: none;
      }
    }
  }

  .header-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;

    a {
      font-family: "Sora", sans-serif;
      color: $white-dark;
      text-decoration: none;
      padding: 15px 30px;
      border: 1px solid $gray;
      border-radius: 5px;
      transition: background-color 0.3s ease, border 0.3s ease;

      &:hover { /*forma do Sass usar o hover*/
        border: 1px solid $red-button;
        background-color: $red-button;
      }
    }
  }
}

  