header {
  padding: 0 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
  background-color: $black-dark;
  text-align: center;

  #header-img {
    width: auto;
    height: 15vh;
  }

  .header-menu {
    display: flex;
    align-items: center;
    justify-content: center;

    ul {
      display: flex;
      gap: 40px;

      li {
        a {
          font-weight: bold;
          font-family: "Sora", sans-serif;
          color: $white-dark;
          text-decoration: none;

          &:hover {
            color: rgb(175, 175, 175);
          }
        }
      }
    }
  }

  .header-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;

    a {
      font-family: "Sora", sans-serif;
      color: $white-dark;
      text-decoration: none;
      padding: 15px 30px;
      border: 1px solid $gray;
      border-radius: 5px;
      transition: background-color 0.3s ease, border 0.3s ease;

      &:hover {
        /*forma do Sass usar o hover*/
        border: 1px solid $white;
        background-color: $highlight;
      }
    }
  }
}

.header-icon-cell {
  display: none;
}

@media screen and (max-width: 768px) {
  header {
    display: flex;
    padding: 0 50px 0px 50px;

    .header-button {
      display: none;
    }

    #header-img {
      margin-left: -3em;
    }

    .header-icon-cell {
      display: flex;
      gap: 18px;

      i {
        font-size: 28px;
      }
    }
  }
}

@media screen and (max-width: 720px) {
  header {
    display: flex;
    justify-content: space-between;
    gap: 60px;

    #header-img {
      margin-left: -2em;
      margin-top: 3.5em;
    }

    .header-icon-cell {
      display: flex;
      gap: 18px;
      margin-top: 3.5em;

      i {
        font-size: 28px;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  header {
    display: flex;
    justify-content: space-between;
    gap: 60px;

    img {
      margin-left: -3em;
    }

    .header-icon-cell {
      display: flex;
      gap: 18px;
      margin-top: 3.5em;

      i {
        font-size: 28px;
      }
    }

  }
}

@media screen and (max-width: 375px) {
  header {
    display: flex;
    justify-content: space-between;

    .header-icon-cell {
      display: flex;
      gap: 18px;
      margin-top: 3.5em;

      i {
        font-size: 28px;
      }
    }

  }
}
