.localizacao {
  background-color: $background-gray;
  height: 42.5em;

  .localizacao-textos {
    text-align: center;
    justify-content: center;

    h1 {
      color: $white;
    }

    p {
      padding-bottom: 20px;
      font-size: 18px;
      color: $white-subtitulo;
    }

    #localizacao-textos-p {
      padding-bottom: 0;
      margin-bottom: 0;
      font-size: 20px;
      color: $white-subtitulo;
      padding-top: 15px;
    }
  }
}

.line {
  height: 2px;
  width: 100%;
  background-color: gray;
}

@media screen and (max-width: 768px) {

  .localizacao {

    .localizacao-textos {
      p {
        font-size: 16px;
      }

      #localizacao-textos-p {
       font-size: 18px;
     }
    }
  }


}

@media screen and (max-width: 488px) {

  .localizacao {
    padding: 0;

    .localizacao-textos {
      p {
        font-size: 16px;
      }

      #localizacao-textos-p {
        font-size: 16px;
      }
    }


  }

}