.localizacao {
  background-color: $background-gray;
  height: 42.5em;

  .localizacao-textos {
    justify-content: center;
    text-align: center;

    h1 {
      color: $white;
    }

    p {
      color: $white-subtitulo;
      font-size: 18px;
      padding-bottom: 20px;
    }

    #localizacao-textos-p {
      color: $white-subtitulo;
      font-size: 20px;
      margin-bottom: 0;
      padding-bottom: 0;
      padding-top: 15px;
    }
  }
}

.line {
  background-color: gray;
  height: 2px;
  width: 100%;
}

// MEDIA QUERIES

@media screen and (max-width: 768px) {
  .localizacao {
    .localizacao-textos {
      p {
        font-size: 16px;
      }

      #localizacao-textos-p {
        font-size: 18px;
      }
    }
  }
}

@media screen and (max-width: 488px) {
  .localizacao {
    padding: 0;

    .localizacao-textos {
      p {
        font-size: 16px;
      }

      #localizacao-textos-p {
        font-size: 16px;
      }
    }
  }
}
