.servicos-container {
  background-color: $background-gray;
  padding-bottom: 80px;

  .serviços-textos {
    text-align: center;
    justify-content: center;
    padding: 35px;

    h1 {
      font-size: 38px;
      color: $white;
      padding-bottom: 12px;
    }

    p {
      font-size: 20px;
      color: $white-subtitulo;
    }
  }

  .serviços-grid {
    display: flex;
    justify-content: center;
    gap: 30px;
  }
}

.line {
  height: 2px;
  width: 100%;
  background-color: gray;
}
