.sobre {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10em;
  background-color: #000000;
  color: white;
  padding-left: 12em;
  padding-bottom: 13em;

  .sobre-img {
    position: relative;
    margin-top: -100px;
  }

  .sobre-textos {
    max-width: 800px;
    margin: 0 auto;
    padding-right: 10em;
    padding-bottom: 5em;

    h1 {
      font-size: 47px;
      text-align: center;
      margin-bottom: 20px;
    }

    p {
      font-size: 20px;
      line-height: 175%;
      text-align: center;
    }
  }
}

@media screen and (max-width: 768px) {

.sobre {
  display: flex;
  padding: 0;
  flex-direction: column;
  gap: 7em;
  align-items: center;
  text-align: center;
  
}

.sobre-img {
  img {
    width: 30em;
    padding-top: 2em;
  }
}

.sobre .sobre-textos {
    padding: 0;
    text-align: center;
    justify-content: center;
}

.sobre .sobre-textos h1 {
  font-size: 40px;
}

.sobre .sobre-textos p {
  padding-top: 1em;
  font-size: 23px;
  max-width: 700px;
  margin: 0 auto;
  padding-bottom: 7em;
}

}

@media screen and (max-width: 480px) {

  .sobre {
    .sobre-img {
      img {
        width: 400px;
      }
    }

    .sobre-textos {
      max-width: 380px;
    }
  }

} 